# 忽略 Python 編譯文件
*.pyc
*.pyo
__pycache__/

# 忽略虛擬環境
venv/
env/
.miniconda3/
conda-meta/
condabin/
envs/

# 忽略日誌文件
*.log

# 忽略系統文件
.DS_Store
Thumbs.db

# 忽略 IDE 設定文件
.vscode/
.idea/

# 忽略輸出文件
*.out
*.o
*.so

# 忽略數據文件
*.idx3-ubyte
*.idx1-ubyte
*.json
*.png
*.jpg
*.jpeg

# 忽略其他不必要的文件
*.tmp
*.bak
*.swp
*.tar.gz

mmdetection/